<% if @rescues.count == 0 %>
  <h4> Looks like there aren't any rescues yet!</h4>
<% else %>
  <h4> Rescue Stories </h4>
<% end %>

  <ul>
    <% @rescues.each do |r| %>
      <%= link_to(owner_rescue_path(r.owner_id, r)) do %>
      <li> <%= r.owner.name %> & <%= r.pet.name %></li>
      <%end%>
    <% end %>
  </ul>



Click 'Our Pets' to browse pets that need rescuing


Heros:

<% @owners.each do |owner| %>
  <%= owner.name%>
  <%= owner.rescues.count%>
<%end%>
