<h2>Welcome!!</h2>
<br>
<% if !session[:user_id] %>
<br>
<%= link_to 'Log in', signin_path %>
<br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<br>
<%= link_to 'Sign up', new_owner_path %>
<br>
<%end%>

<%= link_to 'Pets in Need:', '/high-risk' %> Please consider adopting or fostering elderly pets and those in kill shelters!
<br>
<%= link_to 'Success Stories', rescues_path %> Check out some PetPal rescues stories!
<br>
