<h2>Welcome to PetPal</h2>

<body>
<br>
<ul>
  <% if !session[:user_id] %>
  <li><%= link_to 'Log in', signin_path %> | <%= link_to 'Sign up', new_owner_path %> </li>
  <li><%= link_to '/auth/facebook' do %> <%= image_tag("facebook-login.png", :size => '150x37') %> <%end%> </li>
  <%end%>
</ul>


  <li><%= link_to 'Pets in Need:', '/high-risk' %> Please consider adopting or fostering elderly pets and those in kill shelters!</li>
  <li><%= link_to 'Success Stories', rescues_path %> Check out some PetPal rescues stories!</li>
  
</body>
