<h2> Create a PetPal account </h2>
<!-- <%= render 'form' %> -->
<%= form_for @owner, html: { multipart: true } do |form| %>

<% if @owner.errors.any? %>
  <div id="error_explanation">
    <h2>
      There were some issues while creating your account...
    </h2>

    <ul>
    <% @owner.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

Email: <%= form.text_field :email %>
<br>

Password: <%= form.password_field :password %>
<br>

Password Confirmation: <%= form.password_field :password_confirmation %>
<br>

  <%= form.submit %>
<% end %>
