
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag @owner.image.url(:medium) %>
        <span class="card-title"><%= @owner.name %></span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <ul>
          <li>Name: <%= @owner.name %></li>
          <li><%= @owner.rescue_status %></li>
          <li>Zip Code: <%= @owner.zip_code %></li>
          <li>Bio: <%= @owner.bio %></li>
          <% if @owner == current_user %>
          <li><%= link_to "edit your profile", edit_owner_path(@owner) %></li>
          <% end %>
          <li><%= link_to 'Add a pet to the database', new_pet_path %></li>
          <li><%= link_to 'My Rescues', owner_rescues_path(@owner) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
