<%= form_for @pet, html: { multipart: true } do |form| %>

<% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:
    </h2>

    <ul>
    <% @pet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div>
  <%= form.label :image %>
  <br>
  <%= form.file_field :image %>
  </div>

<br>

  <div>
  <%= form.label :name, "Name" %>
  <br>
  <%= form.text_field :name %>
  </div>

<br>

  <div>
  <%= form.label :age, "Age" %>
  <br>
  <%= form.number_field :age %>
  </div>

<br>

  <div>
Select Gender:
  <%= form.radio_button :gender, 'Male' %>
  <%= form.label :gender_male, "Male" %>
  <%= form.radio_button :gender, 'Female' %>
  <%= form.label :gender_female, "Female" %>
  </div>

<br>

<div>
Select Species:
  <%= form.radio_button :species, 'Dog' %>
  <%= form.label :species_dog, "Dog" %>
  <%= form.radio_button :species, 'Cat' %>
  <%= form.label :species_cat, "Cat" %>
</div>

<br>

  <div>
  <%= form.label :breed, "Breed" %>
  <br>
  <%= form.text_field :breed %>
  </div>

<br>

  <div>
  Select Shelter:
    <%= form.radio_button :shelter_id, 1%>
    <%= form.label :shelter_id_1, "Animal Haven Shelter" %>
    <%= form.radio_button :shelter_id, 2%>
    <%= form.label :shelter_id_2, "Animal Care Centers of NYC" %>
    <%= form.radio_button :shelter_id, 3%>
    <%= form.label :shelter_id_3, "Badass Brooklyn Animal Rescue" %>
  </div>

<br>

  <div>

  <%= form.check_box(:kill_shelter)%>
  <%= form.label :kill_shelter, "In a kill shelter?"%>
  </div>

<br>

  <div>

  <%= form.check_box(:adopter)%>
  <%= form.label :adopter, "Up for adoption?"%>
  </div>

<br>

  <div>

  <%= form.check_box(:fosterer)%>
  <%= form.label :fosterer, "In need of a foster home?"%>
  </div>

<br>

  <div>
    <%= form.label :bio, "About this pet:" %>
    <br>
    <%= form.text_area :bio %>
  </div>

<br>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>

<% end %>
