<!-- <h1> These pets are looking for homes! </h1> -->
<!-- add filters, location/high risk(scope)/dog or cat -->


<!-- <% if @filtered_pets %>
  <% @filtered_pets.each do |pet| %>
  <%= image_tag pet.image.url(:thumb) %>
  <%= link_to pet.name, pet_path(pet) %>
  <br>
  <% end %>
<% end %> -->

<!-- All pets: -->
<br>
<% if @pets %>
<% @pets.each do |pet| %>
  <%= image_tag pet.image.url(:thumb) %>
  <%= link_to pet.name, pet_path(pet) %>
  <br>
<% end %>
<% end %>

<h3> These lucky pets have found homes. Check out their stories! </h3>
<% @rescued_pets.each do |pet| %>
<%= image_tag pet.image.url(:thumb) %>
<%= link_to pet.name, pet_rescues_path(pet) %>
  <br>
<% end %>
