
<h2> Find a pet </h2>

Search our pet database!
<br>
<%= form_tag('/pets', :method => 'get') do %>
  <div>
  <%= radio_button_tag :select, "dogs" %>
  <%= label_tag :select_dogs, "Dogs" %>
  |
  <%= radio_button_tag :select, "cats" %>
  <%= label_tag :select_cats, "Cats" %>
  |
  <%= radio_button_tag :select, "high_risk"%>
  <%= label_tag :select_high_risk, "High-risk" %>
  |
  <%= radio_button_tag :select, "all"%>
  <%= label_tag :select_all, "All Pets" %>
  </div>
  <%= submit_tag 'Search' %>
<% end %>
<br>

<br>
<% if @pets %>
<% @pets.each do |pet| %>
  <%= link_to pet_path(pet) do %> <%= image_tag pet.image.url(:thumb) %> <%end%>
  <%= link_to pet.name, pet_path(pet) %>
  <br>
<% end %>
<% end %>
