What kind of pet are you looking for?

<!-- Filter for... -->
<%= form_tag('/pets', :method => 'get') do %>
  <div>
  <%= label_tag :dog, "Dogs" %>
  <%= radio_button_tag :select, "dogs" %>
  <br>
  <%= label_tag :cat, "Cats" %>
  <%= radio_button_tag :select, "cats" %>
  <br>
  <%= label_tag :high_risk, "High-risk" %>
  <%= radio_button_tag :select, "high_risk"%>
  <br>
  <%= label_tag :all, "All Pets" %>
  <%= radio_button_tag :select, "all"%>
  <br>
  </div>
  <%= submit_tag 'Search' %>
<% end %>
<br>
