<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag @pet.image.url(:medium) %>
        <span class="card-title"><%= @pet.name %></span>
      </div>
      <div class="card-content">
        <ul>
          <% if @pet.kill_shelter %>
          <li><h5><%= "Please help, I'm in a kill shelter 😥" %></h5></li>
          <% end %>
          <li>Name: <%= @pet.name %></li>
          <li>Species: <%= @pet.species %></li>
          <li>Breed: <%= @pet.breed %></li>
          <li>Gender: <%= @pet.gender %></li>
          <li>Age: <%= @pet.age %></li>
          <li>Shelter: <%= @pet.shelter.name %></li>
          <li><%= @pet.rescue_status %></li>
          <li>Bio: <%= @pet.bio %></li>
          <li><%= link_to 'I adopted this pet!', new_pet_rescue_path(@pet, @rescue), id: 'petRescue'%> | <%= link_to 'Edit this pet', edit_pet_path(@pet) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id='rescueForm'>
  <%= render "rescues/form" %>
</div>

<div id='rescueStory'>
</div>
