
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src={{this.avatar}}>
      </div>
      <div class="card-content">
        <ul id="content" data-pet-id={{this.id}}>
          <li>Name: {{this.name}}</li>
          <li>Breed: {{this.breed}}</li>
          <li>Gender: {{this.gender}}</li>
          <li>Age: {{this.age}}</li>
          <li>Bio: {{this.bio}}</li>
        </ul>
        <button id="nextPet">Next Pet</button>
      </div>
    </div>
  </div>
</div>
