<!DOCTYPE html>

<html>
  <head>

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }
    </style>

    <title>Petpal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% flash.each do |key, value| %>
      <div><h2><%= value %></h2></div>
    <% end %>

<nav>
  <div class='nav-wrapper'>
    <ul>
      <li><%= link_to 'PetPal', root_path %></li>
      <% if current_user %> <li><%= link_to 'Profile', owner_path(current_user) %></li> <% end %>
      <li><%= link_to "Find Pets", '/pets' %></li>
      <li><%= link_to "Log Out", logout_path, method:'delete' %></li>
    </ul>
  </div>
</nav>

  </head>


  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
