<!DOCTYPE html>
<html>
  <head>
    <title>Petpal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Log Out", session_path, method:'delete' %>
    <% if current_user %>
  <%= link_to 'Home', owner_path(current_user) %>
<% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
